body {
  background:url("https://epicodus-emmerson.s3-us-west-2.amazonaws.com/cheetah-bg.jpg");
}

.containerX {
  background: #ebdfa7d7;
  font-family: 'Shojumaru', cursive;
  border-style: double;
  border-color: darkgoldenrod;
  border-width: 15px;
}

.heading {
  font-family: 'Shojumaru', regular;
  font-weight: 400;
  font-size: x-;
  text-align: center;
}

.heading2 {
  font-family: 'Shojumaru', cursive;
  font-weight: 200;
  font-size: small;
  text-align: center;
}

.clicked {
  background-color: #e47105;
  border: 2px solid black;
}

.option {
  padding: 12px;
  margin: 5px;
}

#sizeList {
  font-family: 'Shojumaru', cursive;
  font-weight: 200;
  font-size: medium;
}

.receiptIMG {
	background-image: url('https://coding-assets.s3-us-west-2.amazonaws.com/img/receipt4.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height: 220px;
	width: 305px;
}

.quesadillaIMG {
	background-image: url('https://coding-assets.s3-us-west-2.amazonaws.com/img/quesadilla.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
  height:263px;
  width: 360px;
  border: #e47105 3px solid;
}

.gutter {
  padding: 15px;
  font-size: x-small;
}
/* THERE IS AN EVENT LISTENER ON A BUTTON FIND LATER */

.cheetahIMG {
	background-image: url('https://coding-assets.s3-us-west-2.amazonaws.com/img/cheetah-side-01.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:190px;
  width:190px;
  vertical-align: bottom;
  align-content: center;
  padding: 25px;
}

.treeIMG {
	background-image: url('https://coding-assets.s3-us-west-2.amazonaws.com/img/tree.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:150px;
  width:150px;
  vertical-align: bottom;
  align-content: center;
  padding: 5px;
  vertical-align: bottom;
}

.animal-friendsIMG {
	background-image: url('https://coding-assets.s3-us-west-2.amazonaws.com/img/animal-friends.png');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:429px;
  width:650px;
}

.averyDilla {
  border: #e47105 9px double;
}

.cheetahGIF {
	background-image: url('https://coding-assets.s3-us-west-2.amazonaws.com/img/cheetah2.gif');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:175px;
  width:350px;
  align-content: center;
  vertical-align: bottom;
}