body {
  background:url("https://epicodus-emmerson.s3-us-west-2.amazonaws.com/cheetah-bg.jpg");
}

.containerX {
  background: #b4b4b4e1;
  font-family: 'Shojumaru', cursive;
}

.heading {
  font-family: 'Shojumaru', cursive;
  font-weight: 300;
  font-size: x-large;
}

.clicked {
  background-color: #e47105;
  border: 2px solid black;
}

.option {
  padding: 12px;
  margin: 5px;
}

#sizeList {
  font-family: 'Shojumaru', cursive;
  font-weight: 300;
  font-size: small;
}